
h1 {
    font-family: 'Major Mono Display', monospace;
    font-size: 250%;
    color: yellow;
    text-align: center;
    margin-left: 150px;
   margin-top: -250px;
   font-weight: bold;
}

p {
    font-size: 150%;
    color: greenyellow ;
}

#inputform {
    color: greenyellow;
    font-size: 150%;
   
}
input{
    background-color: rgb(230, 230, 23);
}
h5 {
color: black;
}

body {background-color: rgb(202, 30, 145);

background-repeat: no-repeat;
color: #daa520;
font-weight: bold;
text-align: right;
margin-right: 200px;
margin-top: 300px;
font-size: 150%;
}
.btn {
    font-size: 115%;
    margin-left: 50px;

}


#scoreBoard {
  
    font-weight: bold;
    text-align: center;
    margin-left: 100px;
    max-width: auto;
    margin-bottom: -500px;
    
}

